 <%= form_for @custom do |f| %>
 	<div>
 	  <%= f.label :first_name %><br />
 	  <%= f.text_field :first_name %><br />
  </div>
 	
  <div>
 	  <%= f.label :last_name %><br />
 	  <%= f.text_field :last_name %><br />
  </div>
  
  <div>
 	  <%= f.label :phone_number %><br />
 	  <%= f.text_field :phone_number %><br />
  </div>
     
  <div>
 	  <%= f.label :email %><br />
 	  <%= f.text_field :email %><br />
  </div>
 	
  <%=  f.fields_for :reservations_attributes do |reservation| %>
    
  <div>
    <%= reservation.label :dining_table_id, 'Dining Table ID' %><br />
    <%= reservation.number_field :dining_table_id %><br />
  </div>


  <div>
    <%= reservation.label :date %><br />
    <%= reservation.date_field :date %><br />
  </div>
  <div>
    <%= reservation.label :observation %><br />
    <%= reservation.text_field :observation %><br />
  </div>

  <% end %>

  <%= f.submit 'Create a complete detailed reservation'%><br />

 <% end %>
 <hr>
