 <%= form_for @contact do |f| %>
 	<div>
 	  <%= f.label :first_name %><br />
 	  <%= f.text_field :first_name %><br />
  </div>
 	
  <div>
 	  <%= f.label :last_name %><br />
 	  <%= f.text_field :last_name %><br />
  </div>
  
  <div>
 	  <%= f.label :phone_number %><br />
 	  <%= f.text_field :phone_number %><br />
  </div>
     
  <div>
 	  <%= f.label :email %><br />
 	  <%= f.text_field :email %><br />
  </div>
 	
  <%=  f.fields_for :reservation do |ff| %>
  
  <div>
    <%= ff.label :contact_id, 'Contact ID' %><br />
    <%= ff.number_field :contact_id %><br />
  </div>
    
  <div>
    <%= ff.label :dining_table_id, 'Dining Table ID' %><br />
    <%= ff.number_field :dining_table_id %><br />
  </div>


  <div>
    <%= ff.label :date %><br />
    <%= ff.date_field :date %><br />
  </div>

  <div>
    <%= ff.label :observation %><br />
    <%= ff.text_field :observation %><br />
  </div>
  <% end %>

  <%= f.submit 'Create a complete detailed reservation'%><br />

 <% end %>
 <hr>
