<%= form_for @reservation do |f| %>
  <div>
    <%= f.label :contact_id, 'Contact ID' %><br />
	<%= f.number_field :contact_id %><br />
  </div>
  <div>
	<%= f.label :dining_table_id, 'Dining Table ID' %><br />
	<%= f.number_field :dining_table_id %><br />
  </div>

  <div>
	<%= f.label :date %><br />
	<%= f.date_field :date %><br />
  </div>

  <div>
	<%= f.label :observation %><br />
	<%= f.text_field :observation %><br />
  </div>

  <%= f.submit %><br />
  
<% end %>